.odd{
    background: black;
    color : white;
}

.even{
    background: red;
    color:white;
}
.first,.last{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}